@using System.Threading.Tasks
@using Sakura.AspNetCore.Mvc
@model Sakura.AspNetCore.IPagedList<Article>

@{
    ViewBag.Title = ViewBag.CategoryName;
}

<h1>@ViewBag.Title</h1>
@{
    var count = 0;
}

@foreach (var article in Model)
{
    @Html.Partial("ArticleSnapshot", article)
    count++;
}

@if (count > 0)
{
    <p class="row">
        <pager setting-link-attr-data-ajax="true"
               item-default-link='PagerItemLinkGenerators.Custom((int page) => 
            Url.Action("CategoryArticles", "Category", 
            new {page = page, categoryId = ViewBag.CategoryId, trending = ViewBag.Trending}))'
               source="Model"/>
    </p>
}
else
{
    <p class="alert alert-success">
        There aren't any articles in this category!
    </p>
}
<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Return to homepage</a>
</p>
