@using System.Threading.Tasks
@using Sakura.AspNetCore.Mvc
@model Sakura.AspNetCore.IPagedList<Article>

@{
    ViewBag.Title = ViewBag.CategoryName;
}

<h1>@ViewBag.Title</h1>

@foreach (var article in Model)
{
    @Html.Partial("ArticleSnapshot", article)

}

<p class="row">
    <pager setting-link-attr-data-ajax="true" 
           item-default-link='PagerItemLinkGenerators.Custom((int page) => 
            Url.Action("CategoryArticles", "Category", 
            new {page = page, categoryId = ViewBag.CategoryId, trending = ViewBag.Trending}))'
            source="Model"/>
</p>