@model List<Article>

<h1>boooooooooooooooooook</h1>

@foreach (var article in Model)
{
    <p>
        @article.Title<br/>
        @article.Summary
        <a asp-action="ReadArticle" asp-controller="Articles" asp-route-articleId="@article.ArticleId">Read article</a>
    </p>
}
