@model NewsPortal.Models.ViewModels.AddCategoryViewModel

@{
    ViewBag.Title = "Add new category";
    Layout = "_Layout";
}

<h2>Add new category</h2>

<hr/>

<form asp-action="Create" method="post">
    <div class="form-horizontal">
        
        <div class="form-group">
            <label asp-for="Name" class="control-label col-md-2">Category name</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label  asp-for="Description" class="control-label col-md-2">Category description</label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description"></span>
            </div>
        </div>
    </div>
    
    <div class="col-md-offset-2">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>

</form>

<a asp-action="Index" class="btn btn-danger">Return</a>
