@model List<Category>

@{
    ViewBag.Title = "Categories";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model)
{
    <p>
        @item.Name
        <a asp-action="Edit" asp-route-categoryId="@item.CategoryId">link na kategoriju</a>
        <a asp-action="Delete" onclick="return confirm('Are you sure you want to delete this category?')"
            asp-route-id="@item.CategoryId">Delete</a>
    </p>
}
